<div class="tms-sidebar">
  <div class="tms-sidebar__header">
    <div class="tms-sidebar__header-button"></div>
    <div class="tms-sidebar__logo">
      <div class="tms-sidebar__logo-icon"></div>
      <h1 class="tms-sidebar__logo-title">Công việc</h1>
    </div>
  </div>

  <div class="tms-sidebar__body">
    <div
      class="tms-sidebar__item"
      *ngFor="let item of sidebarItems"
    >
      <div
        class="tms-sidebar__item-icon"
        [ngStyle]="{backgroundImage: 'url(../../../assets/icons/' + item.itemIcon + '.svg)'}"
      ></div>
      <div class="tms-sidebar__item-text">
        {{ item.itemText }}
      </div>
    </div>

    <app-tms-sidebar-textbox></app-tms-sidebar-textbox>

    <div [ngStyle]="{height: '8px'}"></div>

    <!-- Dropdown công việc cá nhân -->
    <app-tms-sidebar-dropdown
      [dropdownTitle]="searchedData['ProjectsPersonal']['DepartmentName']"
      [dropdownItems]="searchedData['ProjectsPersonal']['ListProject']"
    ></app-tms-sidebar-dropdown>

    <!-- Dropdown công việc các phòng ban -->
    <app-tms-sidebar-dropdown
      *ngFor="let data of searchedData['Departments']"
      [dropdownTitle]="data['DepartmentName']"
      [dropdownItems]="data['ListProject']"
    ></app-tms-sidebar-dropdown>
  </div>
</div>
