<div class="tms-modal__department">
  <app-tms-text-field
    #focusInput
    inputName="DepartmentName"
    [inputLabel]="modalDepartmentVariables['ModalFieldNameLabel']"
    [inputPlaceholder]="modalDepartmentVariables['ModalFieldNamePlaceholder']"
    [isRequired]="true"
    (onTyping)="bindData($event)"
  ></app-tms-text-field>

  <app-tms-text-field
    [inputLabel]="modalDepartmentVariables['ModalFieldMemberLabel']"
    [inputPlaceholder]="modalDepartmentVariables['ModalFieldMemberPlaceholder']"
    bonusClass="tms-text-field__with-list"
    [bonusButton]="selectMemberButton"
  ></app-tms-text-field>

  <app-tms-user-list
    [userList]="memberList"
  ></app-tms-user-list>

  <app-tms-popup-modal-footer
    (onPopupHidden)="hidePopup()"
    (onModalSubmitted)="addDepartment()"
  ></app-tms-popup-modal-footer>
</div>

<app-tms-popup-modal
  [popupVisible]="innerVisible"
  (onPopupHidden)="innerVisible = false"
  [modalTitle]="popupTitle"
  [modalWidth]="popupWidth"
>
  <app-tms-popup-modal-member
    [popupVisible]="innerVisible"
    (onPopupHidden)="innerVisible = false"
    (onModalSubmitted)="renderMembersInfo($event)"
  ></app-tms-popup-modal-member>
</app-tms-popup-modal>
