<div class="tms-modal__task">
  <div class="tms-modal__task-container">
    <div class="tms-modal__task--left">
      <div class="tms-modal__task-header">
        <div class="tms-modal__task-header--left">
          <div class="tms-modal__task-header-dropdown">
            Cá nhân
          </div>

          <div class="tms-modal__task-header-dropdown">
            Cần thực hiện
          </div>
        </div>

        <div class="tms-modal__task-header--right">
          <div class="tms-modal__task-header-button important"></div>
          <div class="tms-modal__task-header-button urgent"></div>
        </div>
      </div>

      <div class="tms-modal__task-input">
        <input type="text" placeholder="Nhập tên công việc">
      </div>

      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon desc"></div>
        Nhập mô tả
      </div>

      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon add"></div>
        Thêm checklist
      </div>

      <div class="tms-modal__task-selector">
        <div class="tms-modal__task-selector--half">
          <div class="tms-modal__task-selector-icon assignee"></div>
          Chọn người thực hiện
        </div>

        <div class="tms-modal__task-selector--half">
          <div class="tms-modal__task-selector-icon date"></div>
          Chọn hạn hoàn thành
        </div>
      </div>

      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon add"></div>
        Thêm công việc con
      </div>
    </div>

    <div class="tms-modal__task--right">
      <div class="tms-modal__task-extra">
        <div class="tms-modal__task-extra-icon related"></div>
        Người liên quan
      </div>
    </div>
  </div>

  <app-tms-popup-modal-footer></app-tms-popup-modal-footer>
</div>
