<div
  class="tms-text-field"
>
  <div
    class="tms-text-field__label"
  >
    {{ inputLabel }}
    <span
      *ngIf="isRequired"
      class="tms-asterisk"
    >
      *
    </span>
  </div>

  <dx-text-box
    [class]="bonusClass"
    [placeholder]="inputPlaceholder"
    width="100%"
    [mode]="inputMode"
    [height]="textFieldHeight"
  >
    <dxi-button
      *ngIf="bonusButton"
      name="extra"
      location="after"
      [options]="bonusButton"></dxi-button>
  </dx-text-box>
</div>
