$tms-color-primary: "";

$tms-color-white: #FFFFFF;
$tms-color-black: #000000;
$tms-color-blue: #2196F3;
$tms-color-white-light: rgba($tms-color-white, 0.16);
$tms-color-white-medium: rgba($tms-color-white, 0.3);

$tms-color-user: #3AC4AB;

$tms-color-sidebar: rgba($tms-color-black, 0.7);
$tms-color-sidebar-hover: #212121;
