@import "./colors.scss";
@import "./mixins.scss";

.dx-theme-generic-typography,
.dx-overlay-wrapper {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  color: $tms-color-text !important;
}

.dx-editor-underlined .dx-texteditor-input {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  color: $tms-color-white !important;
}

.dx-placeholder {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
}

.dx-texteditor {
  &.dx-editor-outlined {
    border-radius: 8px;
    border: 1px solid $tms-color-grey;
  }

  &.dx-state-hover {
    @include input-box-shadow;
    border-color: $tms-color-blue;
  }

  &.dx-state-focused {
    &.dx-editor-outlined {
      @include input-box-shadow;
      border-color: $tms-color-blue;
    }
  }
}

.tms-text-field__with-list {
  &.dx-texteditor {
    &.dx-editor-outlined {
      border-radius: 8px 8px 0 0 !important;
    }
  }
}

.dx-overlay-wrapper input,
.dx-overlay-wrapper textarea {
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
}

.dx-texteditor-input {
  padding: 7px 16px 8px;
}

.tms-modal {
  .dx-placeholder {
    left: 7px;
    color: #b9b9b9;
  }
}

.dx-popup {
  &-title {
    border-bottom: none;

    &.dx-toolbar {
      padding: 16px 24px !important;
    }
  }

  &-content {
    padding: 8px 0;
  }
}

.dx-toolbar-label > div {
  font-size: 24px !important;
  font-family: "GoogleSans-Bold", sans-serif;
  overflow: visible;
}

.dx-toolbar-label .dx-toolbar-item-content > div {
  overflow: visible;
}

//region Button
.dx-button-has-text .dx-button-content {
  padding-left: 16px;
  padding-right: 16px;
}

.dx-button-text {
  font-family: "GoogleSans-Regular", sans-serif;
  font-size: 15px;
}

.dx-button-mode-contained {
  background-color: $tms-color-blue;
  color: $tms-color-white;
  border-color: transparent;
  border-radius: 8px;

  &.dx-state-hover,
  &.dx-state-focused,
  &.dx-state-active {
    background-color: $tms-color-primary-hover;
    border-color: $tms-color-primary-hightlight;
    color: $tms-color-white;
  }
}

.tms-text-field__with-list,
.dx-calendar {
  .dx-button-mode-contained {
    background-color: transparent;
    color: $tms-color-blue;
    font-family: "GoogleSans-Regular", sans-serif;
    font-size: 15px;

    img {
      margin-right: 4px;
    }

    &.dx-state-hover,
    &.dx-state-focused,
    &.dx-state-active {
      background-color: transparent;
      border-color: transparent;
    }
  }
}
//endregion

//region List
.dx-list .dx-empty-message, .dx-list-item-content {
  height: 40px;
  padding: 0 12px;
}

.dx-list .dx-empty-message, .dx-list-item {
  border-top: none;
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 14px;
  color: $tms-color-text;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item {
  &.dx-state-hover,
  &.dx-state-focused,
  &.dx-state-active {
    background-color: $tms-color-blue-light;
    color: $tms-color-text;
  }
}
//endregion

//region Grid
.dx-datagrid {
  border-radius: 0 0 8px 8px;
  color: $tms-color-text;
  font-family: "GoogleSans-Light", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

.dx-datagrid-headers {
  font-size: 16px;
  color: $tms-color-text;
  font-family: "GoogleSans-Bold", sans-serif;
  background-color: $tms-color-grid-bg;
}

.tms-modal__member {
  .dx-datagrid-headers {
    font-size: 15px;
    background-color: transparent;
  }
}

.dx-datagrid-content .dx-datagrid-table.dx-datagrid-table-fixed {
  height: 42px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  height: 44px;
  padding: 12px 16px 0;
  box-sizing: border-box;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td:first-child, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td:first-child {
  padding-left: 12px;
  padding-right: 12px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td,
.dx-datagrid .dx-row-lines > td {
  border-bottom: 1px solid $tms-color-grey;
}

.dx-datagrid .dx-column-lines > td {
  border-right: 0.5px solid $tms-color-grey;
}

.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover,
.dx-row.dx-data-row.dx-state-hover {
  @include table-row-shadow;
  background-color: $tms-color-blue-light;
  cursor: pointer;
}
//endregion

//region Bar chart
.tms-report__chart {
  .dxc-arg-elements,
  .dxc-val-title,
  .dxc-item {
    fill: $tms-color-text !important;

    text {
      font-family: "GoogleSans-Light", sans-serif !important;
      font-size: 13px !important;
      fill: $tms-color-text !important;
    }
  }
}
//endregion

//region Slider
.dx-slider {
  &-bar {
    height: 12px;
    border-radius: 8px;
    margin: 7px 0 0;
  }

  &-range {
    height: 100%;
    border-radius: 8px !important;
    background-color: $tms-color-grey;

    &.dx-slider-range-visible {
      background-color: $tms-color-blue;
    }
  }

  &-handle {
    margin-top: -7px;
    width: 20px;
    height: 20px;
    border: 1px solid $tms-color-white;
    background-color: $tms-color-white;
    box-shadow: 0 1px 5px 2px #9e9e9e;
    border-radius: 8px;
  }

  & .dx-state-active {
    &.dx-slider-handle {
      background-color: $tms-color-white;
    }
  }

  & .dx-state-hover,
  & .dx-state-focused {
    &.dx-slider-handle:not(.dx-state-active) {
      background-color: $tms-color-white;
    }
  }
}
//endregion
