@import "./fonts.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "./dx-custom.scss";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "GoogleSans-Regular", sans-serif !important;
  font-size: 15px !important;
  color: $tms-color-text;
}

h1 {
  margin: 0;
  font-size: 24px !important;
  font-weight: 500 !important;
}

.tms-asterisk {
  color: $tms-color-red;
}

.tms-rotate-90deg {
  transform: rotateZ(-90deg);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  opacity: 0.3;
  cursor: pointer;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0.3;
}

::-webkit-scrollbar-track {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 8px;
}
