<dx-popup
  class="tms-modal"
  [width]="modalWidth"
  height="auto"
  [title]="currentTemplateTitle"
  [showTitle]="true"
  [shadingColor]="'rgba(0, 0, 0, 0.45)'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [showCloseButton]="true"
  [visible]="true"
  [contentTemplate]="currentTemplate"
>
  <div *dxTemplate="let data of 'departmentTemplate'">
    <app-tms-popup-modal-department></app-tms-popup-modal-department>
  </div>

  <div *dxTemplate="let data of 'projectTemplate'">
    <app-tms-popup-modal-project></app-tms-popup-modal-project>
  </div>

  <div *dxTemplate="let data of 'taskTemplate'">
    <div>Hello Task</div>
  </div>
</dx-popup>
