<div class="tms-modal__task">
  <!-- Nút tùy chỉnh tiến độ, chỉ xuất hiện ở modal sửa thông tin công việc -->
  <div *ngIf="editMode" class="tms-modal__progress-btn">
    <div class="tms-modal__progress-btn--left">{{ modalConst['ProgressStatusUnfinished'] }}</div>

    <div class="tms-modal__progress-btn--middle"></div>

    <div
      class="tms-modal__progress-btn--right"
      (click)="openPopover($event, popoverModes['ProgressMode'])"
    >
      {{ taskData['Progress'] }}%
      <div class="tms-modal__progress-btn-icon"></div>
    </div>
  </div>

  <div class="tms-modal__task-container">
    <div class="tms-modal__task--left">
      <!-- Các mục fix cứng, không tập trung phần này -->
      <div class="tms-modal__task-header">
        <div class="tms-modal__task-header--left">
          <div class="tms-modal__task-header-dropdown">
            {{ taskData['ProjectName'] ? taskData['ProjectName'] : 'Cá nhân' }}
          </div>

          <div class="tms-modal__task-header-dropdown">
            {{ modalConst['WidgetTaskGroupSelector'] }}
          </div>
        </div>

        <div class="tms-modal__task-header--right">
          <div class="tms-modal__task-header-button important"></div>
          <div class="tms-modal__task-header-button urgent"></div>
        </div>
      </div>

      <!-- Input nhập tên công việc -->
      <div class="tms-modal__task-input">
        <input
          #focusInput
          type="text"
          [placeholder]="modalConst['InputPlaceholder']"
          [(ngModel)]="taskData['TaskName']"
        >
      </div>

      <!-- Mục người giao việc, chỉ xuất hiện ở modal sửa -->
      <div class="tms-modal__task-assigner" *ngIf="editMode">
        <span class="tms-modal__task-assigner-label">{{ modalConst['AssignerLabel'] }} </span>
        <span class="tms-modal__task-assigner-name">Nguyễn Quang Minh</span>
      </div>

      <!-- Tiện ích khác, chưa quan trọng -->
      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon desc"></div>
        {{ modalConst['WidgetAddDesc'] }}
      </div>

      <!-- Tiện ích khác, chưa quan trọng -->
      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon add"></div>
        {{ modalConst['WidgetAddChecklist'] }}
      </div>

      <!-- Chỉnh sửa người thực hiện và hạn hoàn thành -->
      <div class="tms-modal__task-selector">
        <div class="tms-modal__task-selector--half">
          <div class="tms-modal__task-selector-icon assignee"></div>
          <div class="tms-modal__task-selector-text" *ngIf="!taskData['AssigneeId']">
            {{ modalConst['WidgetAssigneeSelector'] }}
          </div>
          <div class="tms-modal__task-selector-text" *ngIf="taskData['AssigneeId']">
            <div>{{ modalConst['WidgetAssigneeLabel'] }}</div>
            <strong>{{ taskData['AssigneeId'] }}</strong>
          </div>
        </div>

        <div
          class="tms-modal__task-selector--half"
          (click)="openPopover($event, popoverModes['CalendarMode'])"
        >
          <div class="tms-modal__task-selector-icon date"></div>
          <div class="tms-modal__task-selector-text" *ngIf="!taskData['DueDate']">
            {{ modalConst['WidgetDateSelector'] }}
          </div>
          <div class="tms-modal__task-selector-text" *ngIf="taskData['DueDate']">
            <div>{{ modalConst['WidgetDateLabel'] }}</div>
            <strong>{{ formatDate(taskData['DueDate']) }}</strong>
          </div>
        </div>
      </div>

      <!-- Tiện ích khác, chưa quan trọng -->
      <div class="tms-modal__task-widget">
        <div class="tms-modal__task-widget-icon add"></div>
        {{ modalConst['WidgetAddSubtask'] }}
      </div>
    </div>

    <div class="tms-modal__task--right">
      <div class="tms-modal__task-extra">
        <div class="tms-modal__task-extra-icon related"></div>
        Người liên quan
      </div>
    </div>
  </div>

  <app-tms-popup-modal-footer
    *ngIf="!editMode"
    (onPopupHidden)="hidePopup()"
    (onModalSubmitted)="submitTask()"
  ></app-tms-popup-modal-footer>
</div>

<!-- Popover cập nhật tiến độ -->
<app-tms-popover-progress
  [popoverTarget]="popoverTarget"
  [popoverVisible]="popoverProgressVisible"
  [popoverValue]="taskData['Progress']"
  (onPopoverHidden)="popoverProgressVisible = false"
  (onPopoverSubmitted)="bindData($event)"
></app-tms-popover-progress>

<!-- Popover cập nhật hạn hoàn thành -->
<app-tms-popover-date
  [popoverTarget]="popoverTarget"
  [popoverVisible]="popoverDateVisible"
  (onPopoverHidden)="popoverDateVisible = false"
></app-tms-popover-date>
