.tms-calendar {
  &__container {
    padding: 8px 16px;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

::ng-deep .tms-calendar__container {
  .tms-modal__footer {
    padding: 0 !important;
  }
}
