<dx-popover
  [target]="popoverTarget"
  position="bottom"
  [width]="333"
  [visible]="popoverVisible"
  (onHidden)="hidePopover()"
>
  <div class="tms-calendar__container">
    <div class="tms-calendar__header">
      Hạn hoàn thành
      <app-tms-text-field
        #focusInput
        [ngStyle]="{ width: '50%' }"
      ></app-tms-text-field>
    </div>
    <dx-calendar
      width="100%"
      (onValueChanged)="changeValue($event)"
    ></dx-calendar>
    <app-tms-popup-modal-footer></app-tms-popup-modal-footer>
  </div>
</dx-popover>
