<div class="tms-grid">
  <!-- Thanh công cụ của bảng -->
  <div class="tms-grid__widget">
    <div class="tms-grid__widget-item">
      <div class="tms-grid__widget-icon filter"></div>
      <div class="tms-grid__widget-text">{{ gridConst['WidgetFilter'] }}</div>
    </div>

    <div class="tms-grid__widget-item">
      <div class="tms-grid__widget-icon status"></div>
      <div class="tms-grid__widget-text">{{ gridConst['WidgetStatus'] }}</div>
    </div>

    <div class="tms-grid__widget-item">
      <div class="tms-grid__widget-icon sort"></div>
      <div class="tms-grid__widget-text">{{ gridConst['WidgetSort'] }}</div>
    </div>

    <div class="tms-grid__widget-item">
      <div class="tms-grid__widget-icon select"></div>
      <div class="tms-grid__widget-text">{{ gridConst['WidgetSelector'] }}</div>
    </div>
  </div>

  <!-- Bảng chính -->
  <dx-data-grid
    [dataSource]="gridData"
    width="calc(100% - 80px)"
    height="calc(100% - 48px)"
    keyExpr="TaskID"
    [allowColumnResizing]="true"
    [showBorders]="false"
    [showRowLines]="true"
    [hoverStateEnabled]="true"
    columnResizingMode="widget"
  >
    <dxi-column
      caption=""
      width="48"
      minWidth="48"
      cellTemplate="cellTemplate"
      headerCellTemplate="headerTemplate"
      alignment="center"
    ></dxi-column>

    <dxi-column
      *ngFor="let column of taskColumns; trackBy:getColumnId"
      alignment="left"
      [caption]="column['ColName']"
      [dataField]="column['ColField']"
      [width]="column['ColWidth']"
      [dataType]="column['ColDataType']"
      [format]="column['ColFormat']"
      [cellTemplate]="column['CellTemplate']"
    ></dxi-column>

    <div *dxTemplate="let data of 'headerTemplate'">
      <div class="tms-grid__icon add-col"></div>
    </div>

    <div *dxTemplate="let data of 'cellTemplate'">
      {{ getRowId(data) }}
    </div>

    <!-- Những ô bình thường thể hiện dữ liệu dạng text -->
    <div *dxTemplate="let data of 'normalCellTemplate'">
      {{ getData(data) }}
    </div>

    <!-- Những ô khi nhấn thì hiện popup modal -->
    <div
      *dxTemplate="let data of 'popupModalCellTemplate'"
      (click)="openModal(data)"
    >
      {{ getData(data) }}
    </div>

    <!-- Những ô hiển thị dữ liệu có biểu đồ donut -->
    <div
      *dxTemplate="let data of 'donutChartCellTemplate'"
      [ngStyle]="{display: 'flex', alignItems: 'center', gap: '8px'}"
    >
      <!-- Nếu công việc đã hoàn thành thì chỉ hiển thị dấu check -->
      <div
      *ngIf="checkFinished(data)"
      class="tms-grid__icon success"
    ></div>

      <!-- Nếu công việc chưa hoàn thành thì chỉ hiển thị biểu đồ donut -->
      <app-tms-chart-doughnut
        *ngIf="!checkFinished(data)"
        [doughnutSize]="getDoughnutSize()"
        [doughnutData]="getDoughnutData(data)"
      ></app-tms-chart-doughnut>
      {{ getDataStatus(data) }}
    </div>

    <!-- Những ô hiển thị dữ liệu dạng ngày tháng -->
    <div
      *dxTemplate="let data of 'dateCellTemplate'"
      [ngStyle]="{display: 'flex', alignItems: 'center', gap: '8px'}"
    >
      <div
        class="tms-grid__icon date"
      ></div>
      {{ getData(data) }}
    </div>
  </dx-data-grid>

  <!-- Sidebar bên phải màn hình -->
  <app-tms-grid-sidebar></app-tms-grid-sidebar>
</div>

<!-- Popup modal công việc -->
<app-tms-popup-modal
  [popupVisible]="popupVisible"
  (onPopupHidden)="popupVisible = false"
  modalTitle=""
  [modalWidth]="popupWidth"
>
  <app-tms-popup-modal-task></app-tms-popup-modal-task>
</app-tms-popup-modal>
