<div class="tms-modal--department">
  <app-tms-text-field
    [inputLabel]="modalDepartmentVariables.ModalFieldNameLabel"
    [inputPlaceholder]="modalDepartmentVariables.ModalFieldNamePlaceholder"
    [isRequired]="true"
  ></app-tms-text-field>

  <app-tms-text-field
    [inputLabel]="modalDepartmentVariables.ModalFieldMemberLabel"
    [inputPlaceholder]="modalDepartmentVariables.ModalFieldMemberPlaceholder"
  ></app-tms-text-field>

  <app-tms-popup-modal-footer></app-tms-popup-modal-footer>
</div>
