<div class="tms-modal--department">
  <app-tms-text-field
    inputLabel="Tên dự án/nhóm"
    inputPlaceholder="Tên dự án/nhóm"
    [isRequired]="true"
  ></app-tms-text-field>

  <div class="tms-text-field__group">
    <app-tms-text-field
      inputLabel="Chọn phòng ban"
      inputPlaceholder="Chọn phòng ban"
      textFieldWidth="48%"
      [isRequired]="true"
    ></app-tms-text-field>

    <app-tms-text-field
      inputLabel="Từ ngày"
      textFieldWidth="23%"
    ></app-tms-text-field>

    <app-tms-text-field
      inputLabel="Đến ngày"
      textFieldWidth="23%"
    ></app-tms-text-field>
  </div>

  <app-tms-text-field
    inputLabel="Mô tả"
    inputPlaceholder="Mô tả"
    textFieldHeight="78px"
  ></app-tms-text-field>

  <app-tms-text-field
    inputLabel="Thành viên"
    inputPlaceholder="Tìm theo tên hoặc email để thêm nhanh"
  ></app-tms-text-field>
</div>
