<div class="tms-modal__project">
  <app-tms-text-field
    #focusInput
    inputName="ProjectName"
    [inputLabel]="modalProjectVariables['ModalFieldNameLabel']"
    [inputPlaceholder]="modalProjectVariables['ModalFieldNamePlaceholder']"
    [isRequired]="true"
    (onTyping)="bindData($event)"
  ></app-tms-text-field>

  <div class="tms-text-field__group">
    <app-tms-select-box
      selectBoxName="DepartmentId"
      [selectBoxLabel]="modalProjectVariables['ModalFieldDepartmentLabel']"
      [inputPlaceholder]="modalProjectVariables['ModalFieldDepartmentPlaceholder']"
      [selectBoxData]="departmentOptions"
      selectBoxValueExpression="DepartmentId"
      selectBoxDisplayExpression="DepartmentName"
      [ngStyle]="{width: '50%'}"
      (onSelected)="bindData($event)"
    ></app-tms-select-box>

    <app-tms-date-box
      dateBoxName="StartDate"
      [dateBoxLabel]="modalProjectVariables['ModalFieldFromDateLabel']"
      [inputPlaceholder]="modalProjectVariables['ModalFieldFromDatePlaceholder']"
      [ngStyle]="{width: '25%'}"
      (onValueChanged)="bindData($event)"
    ></app-tms-date-box>

    <app-tms-date-box
      dateBoxName="EndDate"
      [dateBoxLabel]="modalProjectVariables['ModalFieldToDateLabel']"
      [inputPlaceholder]="modalProjectVariables['ModalFieldToDatePlaceholder']"
      [ngStyle]="{width: '25%'}"
      (onValueChanged)="bindData($event)"
    ></app-tms-date-box>
  </div>

  <app-tms-text-area
    inputName="Description"
    [inputLabel]="modalProjectVariables['ModalFieldDescriptionLabel']"
    [inputPlaceholder]="modalProjectVariables['ModalFieldDescriptionPlaceholder']"
    inputHeight="78px"
    (onTyping)="bindData($event)"
  ></app-tms-text-area>

  <app-tms-text-field
    [inputLabel]="modalProjectVariables['ModalFieldMemberLabel']"
    [inputPlaceholder]="modalProjectVariables['ModalFieldMemberPlaceholder']"
    bonusClass="tms-text-field__with-list"
    [bonusButton]="selectMemberButton"
  ></app-tms-text-field>

  <app-tms-user-list></app-tms-user-list>

  <app-tms-popup-modal-footer
    (onPopupHidden)="hidePopup()"
    (onModalSubmitted)="addProject()"
  ></app-tms-popup-modal-footer>
</div>

<app-tms-popup-modal
  [popupVisible]="innerVisible"
  (onPopupHidden)="innerVisible = false"
  [modalTitle]="popupTitle"
  [modalWidth]="popupWidth"
>
  <app-tms-popup-modal-member
    (onPopupHidden)="innerVisible = false"
  ></app-tms-popup-modal-member>
</app-tms-popup-modal>

