@use '../../../../styles/colors' as *;
@use '../../../../styles/mixins' as *;

.tms-report {
  @include default-box-shadow;
  border-radius: 8px;
  margin: 8px 24px 8px 8px;
  padding: 16px 96px 16px 16px;
  background-color: $tms-color-white;

  &__header {
    margin-bottom: 31px;
  }

  &__title {
    font-family: "GoogleSans-Bold", sans-serif;
    font-weight: 500;
    font-size: 17px;
  }
}
