<div class="tms-header">
  <!-- Phần này chỉ xuất hiện khi ở page dashboard -->
  <div class="tms-header--left dashboard">
    <div class="tms-header__button">
      <div class="tms-header__button-icon edit"></div>
      {{ headerVariables['SettingButtonText'] }}
    </div>
  </div>

  <!-- Phần này chỉ xuất hiện khi ở page project -->
  <div class="tms-header--left project">
    <div class="tms-header__button-icon apps"></div>
    <div class="tms-header__button-icon home-container">
      <div
        class="tms-header__button-icon home"
        routerLink="/dashboard"
      ></div>
    </div>
    <div>MISA AMIS TMS</div>
    <div class="tms-header__button-icon setting-container">
      <div class="tms-header__button-icon setting"></div>
    </div>

    <!-- Các đường link dẫn đến các trang project khác nhau -->
    <div class="tms-header__links">
      <a
        class="tms-header__link"
        *ngFor="let link of headerLinks; let linkIndex = index"
        [routerLink]="['/project']" [queryParams]="{Type: link['Type']}" queryParamsHandling="merge"
        [ngClass]="{'tms-header__link--active': currentLink === linkIndex}"
        (click)="activeLink(linkIndex)"
      >
        {{ link['Name'] }}
      </a>
    </div>
  </div>

  <!-- Phần xuất hiện chung ở các page -->
  <div class="tms-header--right">
    <!-- Nút để mở các popup thêm mới -->
    <div class="tms-header__button-group">
      <div
        class="tms-header__button tms-header__button--add"
        (click)="showPopupToAdd()"
      >
        <div class="tms-header__button-icon add"></div>
        {{ headerVariables['AddButtonText'] }}
      </div>
      <div class="tms-header__button-separator"></div>
      <div
        id="tms-header__dropdown-button"
        class="tms-header__button tms-header__button--dropdown"
        (click)="toggleDropdown()"
      >
        <div class="tms-header__button-icon dropdown"></div>
      </div>
    </div>

    <!-- Popup chức năng, sẽ chia thành component riêng sau -->
    <dx-popover
      target="#tms-header__dropdown-button"
      position="bottom"
      [elementAttr]="{class: 'tms-header__popover'}"
      [width]="234"
      [visible]="dropdownVisible"
      (onHidden)="dropdownVisible = false"
    >
      <!-- component DxList bên trong component DxPopover -->
      <div *dxTemplate="let data = model of 'content'">
        <dx-list [dataSource]="headerFunctions">
          <div *dxTemplate="let item of 'item'">
            <div
              class="tms-header__dropdown-item"
              (click)="clickFunction(item['itemId'])"
            >
              <div
                class="tms-header__dropdown-icon"
                [ngStyle]="{backgroundImage: 'url(../../../assets/icons/' + item['itemIcon'] + '.svg)'}"
              ></div>
              <div>{{item['itemText']}}</div>
            </div>
          </div>
        </dx-list>
      </div>
    </dx-popover>

    <div class="tms-header__widget">
      <div
        *ngFor="let item of headerItems"
        class="tms-header__item"
      >
        <div
          [ngStyle]="{backgroundImage: 'url(../../../assets/icons/' + item.itemIcon + '.svg)'}"
        ></div>
      </div>

      <div class="tms-header__user">{{ headerVariables['UserText'] }}</div>
    </div>
  </div>
</div>

<app-tms-popup-modal
  [popupVisible]="popupVisible"
  (onPopupHidden)="popupVisible = false"
  [modalTitle]="popupTitle"
  [modalWidth]="popupWidth"
>
  <app-tms-popup-modal-department
    *ngIf="currentPopupType === modalEnums['ModalTypeDepartment']"
  ></app-tms-popup-modal-department>

  <app-tms-popup-modal-project
    *ngIf="currentPopupType === modalEnums['ModalTypeProject']"
  ></app-tms-popup-modal-project>

  <app-tms-popup-modal-task
    *ngIf="currentPopupType === modalEnums['ModalTypeTask']"
  ></app-tms-popup-modal-task>
</app-tms-popup-modal>
